{% extends "base.html" %}

{% block content %}

  <span class="pull-right">
    <a href="{% url 'pedido:pedido_abastecer_list' %}">
      <button type="button" class="btn btn-danger">
          <span class="fa fa-undo "></span> voltar
      </button>
    </a>
  </span>


{% if object.status == 'A' %}
  <h1>Abastecer: {{ object }}</h1>
{% elif object.status == 'P' %}
  <h1>Pendente: {{ object }}</h1>
{% endif %}

<div class="col-sm-6">
  <table class="table table-user-information">
    <tbody>
      <tr>
        <th class="text-right">Codigo</th>
        <td>{{ object.codigo_formated }}</td>
      </tr>
      <tr>
        <th class="text-right">Cisterna</th>
        <td>{{ object.cisterna }}</td>
      </tr>
      <tr>
        <th class="text-right">Volume</th>
        <td>{{ object.volume }}</td>
      </tr>
      <tr>
        <th class="text-right">Situação</th>
        <td> A {{ object.get_status_display }}</td>
      </tr>
    </tbody>
  </table>
</div>

<form method="POST" action="{% url 'pedido:pedido_abastecer_detail' object.pk %}">
    {% csrf_token %}   

   {% if object.status == 'A'%}
    <span class="pull-right">
      <a href="{% url 'pedido:pedido_abastecer_list' %}">
      <button type="submit" name="action" value="confirmar" class="btn btn-success">
            <span class="fa fa-check"></span> Confirmar
        </button>
      </a>
    </span>
    
    <span class="pull-right"  >
      <a href="{% url 'pedido:pedido_abastecer_list' %}">
        <button type="submit" name="action" value="pendente" class="btn btn-warning">
            <span class="fa fa-pause"></span> Pendente
        </button>
      </a>
    </span>
    {%else%}
    <span class="pull-right">
      <a href="{% url 'pedido:pedido_abastecer_list' %}">
      <button type="submit" name="action" value="confirmar" class="btn btn-success">
            <span class="fa fa-check"></span> Confirmar
        </button>
      </a>
    </span>

    {%endif%}

</form>

{% endblock content %}